* {
  border-radius: 7px;
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  list-style: none;
  color: rgb(63, 62, 62);
}
body {
  max-width: 450px;

  margin: 10vh auto;
}
.calc {
  text-decoration: none;
  background-color: cornflowerblue;
  padding: 20px;
}
.screen {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 2px solid black;
  height: 60px;
  margin: 20px 20px 40px;
  padding: 10px;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
}
.scr {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
}

.buttons {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 60px);
  column-gap: 15px;
  row-gap: 25px;
  align-self: center;
}
.operators {
  grid-column-start: 1;
  grid-column-end: 5;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
  row-gap: 25px;
}
.numbers {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 6;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 60px);
  column-gap: 15px;
  row-gap: 25px;
}
#itemNull {
  grid-column-start: 1;
  grid-column-end: 3;
}
.aside {
  display: grid;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 6;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 60px);
  column-gap: 15px;
  row-gap: 25px;
}
#itemEnd {
  grid-row-start: 3;
  grid-row-end: 5;
}
.but {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px black;
}
.operator {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px black;
}
div[class="but"]:hover {
  background-color: rgb(8, 167, 8);
  color: white;
  cursor: pointer;
  transition: 0.2s;
}
div[class="operator"]:hover {
  background-color: rgb(223, 139, 29);
  color: white;
  cursor: pointer;
  transition: 0.2s;
}
div[class="operator"]:active,
div[class="but"]:active {
  box-shadow: 0 0 0 rgb(2, 2, 2);
}

@media (max-width: 400px) {
  * {
    font-size: 15px;
    border-radius: 3px;
  }
  body {
    max-width: 250px;

    margin: 5vh auto;
  }
  .screen {
    height: 50px;
    margin: 0 0 15px;
    background-color: rgb(0, 0, 0);
  }
  .buttons {
    margin: 0;
    grid-template-rows: repeat(4, 20px);
    column-gap: 5px;
    row-gap: 10px;
  }
  .operators {
    grid-column-start: 1;
    grid-column-end: 5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5px;
    row-gap: 10px;
  }
  .numbers {
    grid-template-rows: repeat(4, 20px);
    column-gap: 5px;
    row-gap: 10px;
  }
  .aside {
    grid-template-rows: repeat(3, 20px);
    column-gap: 5px;
    row-gap: 10px;
  }
}
